<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up / Login Form</title>
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/logo.css">
    <script defer src="static/scripts/switch_forms.js"></script>
</head>
<body>
    <!-- Flash message block -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <header class="logo-header">
        <h1 class="logo">Izinja ze'Game API Solutions 🐩</h1>
    </header>

    <div class="container">
        <div class="form-container sign-up-container" id="sign-up-container">
            <form action="/signup" method="POST">
                <h1>Create Account</h1>
                <input type="text" name="name" placeholder="First & Last Name " required />
                <input type="email" name="email" placeholder="Email" required />
                <input type="text" name="cell" placeholder="+2772 619 7445" required />
                <input type="password" name="password" placeholder="Password" minlength="5" maxlength="20" required />
                <button type="submit">Sign Up</button>
                <h6>Already have an account? Click <a href="#" id="show-login">here</a></h6>
            </form>
        </div>
        <div class="form-container login-container" id="login-container">
            <form action="/login" method="POST">
                <h1>Sign In</h1>
                <input type="email" name="email" placeholder="Email" required />
                <input type="password" name="password" placeholder="Password" required />
                <button type="submit">Login</button>
                <h6>Don't have an account? Click <a href="#" id="show-signup">here</a></h6>
            </form>
        </div>
        <div class="animated-image">
            <img src="static/images/depositphotos_45550465-stock-photo-cocktail-dog.png" alt="Animated Image">
        </div>
    </div>
</body>
</html>
